*{
  margin: 0;
}
.App {
  padding-left: 5em;
}
.search-bar{
  text-align: center;
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.search-bar img{
  height: 3em;
  width: 3em;
  position: absolute;
  margin-left: 1em;
}
.search-bar input{
  text-align: center;
  height: 3em;
  width: 30em;
  color: black;
  font-size: 15px;
  border: black solid 2px;
  border-radius: 15px;
}
h1{
  text-align: center;
  position: relative;
  top: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(255, 2, 234) ;
}
.movies{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.movie-card img{
  width: 12em;
  height: 12em;
  border-radius: 10px;
}
.year{
  position: absolute;
  visibility:hidden;
  padding: 5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color:black;
}
.movie-card:hover .year{
  visibility: visible;
}
.movie-card:hover .poster{
  opacity: 10%;
}
.title h3{
  font-size: 1em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}